<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Products</title>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>
<body>
<h1>Product List</h1>


<table class="table table-bordered">
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${products}">
        <td th:text="${product.name}">Product Name</td>
        <td th:text="${product.description}">Description</td>
        <td th:text="${product.price}">100.00</td>
        <td>
            <a class="btn btn-primary" th:href="@{/products/{id}(id=${product.id})}">View</a>
            <a class="btn btn-warning" th:href="@{/products/edit/{id}(id=${product.id})}">Edit</a>

            <form th:action="@{/products/delete/{id}(id=${product.id})}" method="post" style="display:inline">
                <input type="hidden" name="_method" value="delete"/>
                <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this product?')">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>


<a class="btn btn-success" th:href="@{/products/add}">Add New Product</a>

</body>
</html>
